@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.contactTitleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactTitleLine {
  width: 40%;
}

.contactTitleText {
  font-family: "Sacramento";
  font-size: 36px;
  padding: 10px;
}

.contactMainBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactMainLeftBoxContainer {
  width: 40%;
  display: flex;
  row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.contactText {
  color: #5e5e5e;
  line-height: 1.5;
}

.whatsappIcon {
  color: greenyellow;
}

.sendMeAWhatsappText {
  margin-left: 5px;
}

.whatsappBtnContainer {
  border-radius: 25px;
  padding: 10px;
  background-color: #455a64;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
