#bioContainer {		
	width: 100%; 	
	display: flex;
	justify-content: center;	
}

#bioContentContainer {
	background: linear-gradient(90deg, #77639159, #ffffff 50%);
	border-top-left-radius: 10%;
	border-bottom-left-radius: 10%;
	overflow: hidden;		
	width: 100vw;	
	margin-left: 2%;
	height: 80vh; 
	display: flex;
	align-items: center;	
	border-left: 1px solid var(--secondary-color);
	border-top: 1px solid var(--secondary-color);
	border-bottom: 1px solid var(--secondary-color);
	margin-top: 5px; 
	margin-bottom: 10px;
	box-shadow: -2px 5px 5px var(--primary-color-darkest);
}

#bioContentCard {
	animation: slide-in 2.5s forwards;
	-webkit-animation: slide-in 2.5s forwards;
	position: absolute;
	left: 35vw;
	top: 10vh;
}

@keyframes slide-in {
	0% {
		transform: translateX(100vw);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slide-in {
	0% {
		-webkit-transform: translateX(100vw);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

#mainDaniaBackgroundImage {	
	opacity: 0.3;
	position: absolute;
	left: 3vw;		
	border-top-left-radius: 25%;
	border-bottom-left-radius: 15%;		
	border-bottom-right-radius: 25%;	
	animation: slide-in 1s forwards;
	-webkit-animation: slide-in 1s forwards;
	max-width: 40%; 
	max-height: 70vh;
	border-bottom: 1px solid var(--secondary-color);	
}




