.sideMenuHeaderContainer {
  background-color: var(--background-secondary);
}

.sideMenuContainer {
  background-color: #161616;
  color: #f7f7f7;
  width: 100%;
  min-height: 2000px;
  z-index: 1000;
  position: absolute;
  top: 5%;
  left: 0;
}

.sideMenuBars {
  color: black;
}

.sideMenuExitBtnContainer {
  position: absolute;
  top: 1%;
  left: 80vw;
}

.sideMenuExit {
  color: white;
  font-size: 40px;
}

.sideMenuLinkContainer {
  position: absolute;
  top: 5%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
