#landingContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	min-height: 300px;
    position: relative;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 5vh;
    z-index: -1;
}

#landingContainer::after {
	content: '';
	background: url('../../assets/landingBG_0.jpg') fixed;
	background-repeat: no-repeat;
	background-size: 300px;
	background-size: 100% 100%;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -10;
}
