.igContainer {
    display: flex; 
    flex-direction: column;
    width: 100vw; 
    height: 40vh;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    overflow: hidden;
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;   
    height: 20vh; 
    flex-direction: row;
    width: 100vw;

}

.imageAndCaption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border: 3px solid var(--secondary-color);
    border-radius: 5%;
    height: 30vh;
    width: 25vw;
}

.captionContainer {
    width: 20vw; 
    height: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80%;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid var(--primary-color);
    border-radius: 10%;
    font-size: .5rem;
    overflow: hidden;
}

#arrowContainer {
    display: flex; 
    width: 100vw; 
    justify-content: center;
    align-items: center;
}

