.igContainer {
    display: flex; 
    flex-direction: row;
    width: 90vw; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;    
}

.image {
    border: 3px solid var(--secondary-color);
    height:fit-content
}

.captionContainer {
    width: 300px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80%;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid var(--primary-color);
    border-radius: 10%;
}

