@font-face {
  font-family: "BrittanySignature";
  src: local("BrittanySignature"),
    url("../../utils/fonts/BrittanySignature.ttf") format("truetype");
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutTitle {
  font-family: "BrittanySignature";
}

.aboutMainContainer {
  display: flex;
  width: 98vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}

.aboutMainLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45vw;
}

.aboutMeBorder {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aboutMeTitleContainer {
  width: 20%;
  white-space: nowrap;
  text-align: left;
}

.aboutMeTitle {
  font-family: "Sacramento", cursive;
}

.aboutHorizontalLine {
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: center;
  width: 80%;
}

.aboutMeTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.aboutMainRight {
  display: flex;
  width: 45vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  height: 80vh;
}

.faqDesktop {
  margin-bottom: 5%;
}

.faqDesktop--header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.faqDesktop--header--horizontal-line {
  width: 30%;
}

.faqDesktop--header--text {
  padding: 5px;
  max-width: 80%;
  text-transform: unset;
  letter-spacing: unset;
  font-size: 41px;
  font-family: Sacramento, serif, system-ui;
  display: inline-block;
  color: inherit;
  position: relative;
  box-sizing: inherit;
}

.faqDesktop--header--caption {
  padding: 5px;
}

.reviewsTitleText {
  opacity: 1;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
