#layoutContainer {
    height: 100vh;
    background-image: url("../assets/landingBG_0.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#headerContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#headerLeftContainer {
    background-color: var(--primary-color);
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headerMiddleContainer {
    background-color: var(--secondary-color-light);
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headerRightContainer {
    background-color: var(--primary-color);
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bodyContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#bodyLeftContainer {
    background-color: var(--primary-color);
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bodyMiddleContainer {
    background-color: var(--secondary-color-light);
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bodyRightContainer {
    background-color: var(--primary-color);
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
