.titleMobileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleMobile {
  width: 80%;
  text-align: center;
}

.titleMobileText {
  font-family: "BrittanySignature";
  font-size: 2rem;
}

.titleMobileSubtitle {
  font-family: "Raleway";
  font-size: 22px;
}
