.headerDesktopContainer {
    background-color: var(--background-secondary);
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;    
}

.headerLink {
    text-decoration: none;
    color: black;
}

.headerLink:hover {
    background-color: lightblue;
    border-radius: 5px;
 }
