.accordion {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accordion--background {
  width: 90vw;
}

.accordion--faq-header {
  outline: none;
  align-items: baseline;
  padding-bottom: 8px;
  padding-top: 8px;
  justify-content: space-between;
  text-align: left;
  font-size: 16px;
  display: flex;
  font-family: Raleway, arial, sans-serif;
  width: 100%;
  text-transform: none;
  letter-spacing: normal;
}

.accordion--faq-header-text {
  font-family: Raleway, arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: rgb(27, 27, 27);
  text-transform: uppercase;
  letter-spacing: 0.107em;
  overflow-wrap: break-word;
  padding-top: 8px;
  padding-bottom: 8px;
}

.faqMobileHeaderContainerActive {
  border-bottom: none;
}

.accordion--faq-text {
  color: rgb(94, 94, 94);
  font-family: Raleway, arial, sans-serif;
  text-transform: none;
  letter-spacing: normal;
}

.faqMobileHeaderTextActive {
  color: rgb(140, 111, 111);
}

.accordion--horizontal-line {
  border-color: rgb(226, 226, 226);
  border-bottom-width: 1px;
  border-style: solid;
  font-size: 16px;
  width: 100%;
  box-sizing: initial;
  height: 0;
}
