.headerDesktopSticky {
  position: sticky;
  top: 0;
}

.bodyDesktopBackground {
  background-color: var(--background-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bodyDesktopContainer {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
