@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

html {
  --background-primary: #fbfafa;
  --background-secondary: #f5f7f8;  
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;   
}

.btnMain {
  border-radius: 15px;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: inherit;
}
.btnMain:hover {
  background-color: gray;
}