
html {
  --primary-color-lightest: #eeb5eb;
  --primary-color-light: #c26dbc;
  --primary-color: #8b73ff;
  --primary-color-dark: #727274;
  --primary-color-darkest: #776391;  
  --secondary-color-light: #c3fffc;  
  --secondary-color: #3cacae;

  min-height: 100vh;  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
