.chatBoxFABContainer {
    border-radius: 50px;
    background-color: lightgrey;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(78, 61, 61, 0.2) 0px 2px 5px, inset rgba(0,0,0,0.2) 0px -1px 2px;    
}

.chatBoxFabIcon {
    color: black;
    font-size: 25px;
}